.clickable { cursor:pointer;}
.font-size-10 {font-size: 10px;}
.font-size-15 {font-size: 15px;}
.font-size-20 {font-size: 20px;}
.font-size-25 {font-size: 25px;}
.full-height { height: 100%;}
.left { float:left; }
.margin-auto { margin: auto;}
.margin-bottom-5 { margin-bottom: 5px;}
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-15 { margin-bottom: 15px;}
.margin-top-5 { margin-top: 5px;}
.margin-top-10 { margin-top: 10px;}
.margin-top-15 { margin-top: 15px; }
.margin-right-5 { margin-right: 5px;}
.margin-right-10 { margin-right: 10px;}
.margin-right-15 { margin-right: 15px; }
.margin-left-5 { margin-left: 5px;}
.margin-left-10 { margin-left: 10px;}
.margin-left-15 { margin-left: 15px; }
.position-relative {position:relative;}
.position-absolute {position: absolute;}
.right { float:right; }
.nowrap { white-space: nowrap; }
.text-align-center { text-align: center; }
.text-decoration-none { text-decoration: none; }
.text-decoration-none:hover { text-decoration: none; }
.text-black { color: #000000; }
.text-white { color: #FFFFFF;}
.underline { text-decoration: underline;}
.width-percent-10 {width: 10%;}
.width-percent-20 {width: 20%;}
.width-percent-30 {width: 30%;}
.width-percent-33 {width: 33.33%;}
.width-percent-40 {width: 40%;}
.width-percent-50 {width: 50%;}
.width-percent-60 {width: 60%;}
.width-percent-70 {width: 70%;}
.width-percent-80 {width: 80%;}
.width-percent-90 {width: 90%;}
.width-percent-100 {width: 100%;}
.no-horizintal-padding { padding-left: 0px; padding-right: 0px;}
.no-vertical-padding {padding-top: 0px; padding-bottom: 0px;}
