<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<div>
  <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading">
                      <h1>
                          Bloggen min
                      </h1>
                      <hr class="small">
                      <span class="subheading">Anne-Marie sin blog</span>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <!-- Main Content -->
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" ng-init="postsPerPage = getPostsPerPage();">
              <div class="post-preview" ng-repeat="post in getAuthorWithPosts().posts | orderBy : ['sequence','-created_at', 'post_title'] | pagination : getCurrentPage() : postsPerPage ">
                  <a ng-click="setRoute('post/' + post.id + '/');">
                      <h2 class="post-title">
                          <strong>{{post.post_title}}</strong>
                      </h2>
                  </a>
                  <p class="post-meta">Posted by <a href="#">{{getAuthorName()}}</a> on {{splitSecondsFromDate(post.created_at)}}</p>
              </div>
              <hr ng-if="canGoLeft() || canGoRight()">
              <ul class="pager">
                <li class="next left clickable" ng-if="canGoLeft()" ng-click="incrementPage(false);">
                    <a>
                      <span class="glyphicon glyphicon-arrow-left" ></span>
                      <span>Newer Posts </span>
                    </a>
                </li>
                <li class="next right clickable" ng-if="canGoRight()" ng-click="incrementPage(true);">
                    <a>
                        <span>Older Posts</span>
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </a>
                </li>
              </ul>
          </div>
      </div>
  </div>
  <hr>

</div>
