<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="img/about-bg.jpg" alt="1" style="height:50vh; width:100%;">
    </div>

    <div class="item">
      <img src="img/contact-bg.jpg" alt="2" style="height:50vh; width:100%;">
    </div>

    <div class="item">
      <img src="img/home-bg.jpg" alt="3" style="height:50vh; width:100%;">
    </div>

    <div class="item">
      <img src="img/post-bg.jpg" alt="4" style="height:50vh; width:100%;">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>

<!--
<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>
                        Velkommen til min side
                    </h1>
                    <hr class="small">
                    <span class="subheading">Anne-Marie siden</span>
                </div>
            </div>
        </div>
    </div>
</header>
-->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a >
                    <h2 class="post-title">
                        <strong>Sjekk prisen</strong>
                    </h2>
                </a>
                <p class="post-meta">Posted by <a href="#"></a> on </p>
            </div>
            <hr>
            <ul class="pager">
              <li class="next left">
                  <a href="#">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    <span>Newer Posts </span>
                  </a>
              </li>
                <li class="next">
                    <a href="#">
                        <span>Older Posts</span>
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr>
