<nav class="navbar navbar-default navbar-custom navbar-fixed-top visible-xs">
    <div class="container-fluid" >
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="dorpdown" data-target="#mobile-menu">
                Menu <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <a class="navbar-brand visible-xs" ng-click="setRoute('home')">AM-Blogg</a>
        </div>
        <div class="collapse panel-collapse" id="mobile-menu">
            <ul class="list-group">
                <li class="list-group-item">
                    <a ng-click="setRoute('home')" >Home</a>
                </li>
                <li class="list-group-item">
                    <a ng-click="setRoute('about')">About</a>
                </li>
                <li class="list-group-item">
                    <a ng-click="setRoute('contact')">Shop</a>
                </li>
                <li class="list-group-item">
                    <a ng-click="setRoute('contact')">Contact</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<nav class="navbar navbar-fixed-top hidden-xs" >
    <div class="container-fluid" >
          <ul class="nav navbar-nav navbar-right am-navbar" >
              <li >
                  <a ng-click="setRoute('home')" >Home</a>
              </li>
              <li>
                  <a ng-click="setRoute('about')">About</a>
              </li>
              <li>
                  <a ng-click="setRoute('contact')">Shop</a>
              </li>
              <li>
                  <a ng-click="setRoute('contact')">Contact</a>
              </li>
          </ul>
    </div>
</nav>
