<header class="intro-header" style="background-image: url('img/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{getPost().post_title}}</h1>
                    <h2 class="subheading">{{getPost().post_description}}</h2>
                    <span class="meta">Posted by <a href="#">{{getAuthorName()}}</a> on {{splitSecondsFromDate(getPost().created_at)}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div ng-repeat="detail in getPost().post_details | orderBy: ['sequence']">
                <p>{{detail.post_content}}</p>
              </div>
            </div>
        </div>
    </div>
</article>
<hr>
<div class="container" ng-if="getPost().comments_enabled">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div ng-repeat="comment in getPost().comments | orderBy: ['-likes']" ng-init="comment.openEditor = false;">
            <h3>{{comment.commenter_name}}</h3>
            <p>
              <span>{{comment.commenter_text}}</span>
              <br>
              <span class="left "><a class="text-decoration-none clickable margin-right-5" title="Reply">Liker</a></span>
              <span class="left margin-right-5"> - </span>
              <span class="left "><a class="text-decoration-none clickable margin-right-5" title="Reply">Misliker</a></span>
              <span class="left margin-right-5"> - </span>
              <span class="left" ng-click="comment.openEditor = !comment.openEditor;">
                <a class="text-decoration-none clickable margin-right-5" title="Reply">Svar</a>
              </span>

              <span>
                <a class="left glyphicon glyphicon-thumbs-up text-decoration-none margin-right-5 margin-left-10" style="margin-bottom:-10px;"></a>
                <span class="left">{{comment.likes}}</span>
              </span>
              <span>
                <a class="left glyphicon glyphicon-thumbs-down text-decoration-none margin-right-5 margin-left-5" style="margin-bottom:-10px;"></a>
                <span class="left">{{comment.dislikes}}</span>
              </span>
            </p>
            <div ng-if="comment.openEditor" class="margin-top-15" >
              <div class="form-group margin-bottom-5" style="margin-top:15px!important;">
                <input type="text" class="form-control margin-top-5" placeholder="name" ng-model="comment.reply.name">
              </div>
              <div class="form-group" style="margin-bottom:0!important;">
                <textarea name="Name" class="form-control" rows="8" cols="40" placeholder="comment" ng-model="comment.reply.content"></textarea>
              </div>
              <button class="btn btn-default" ng-click="makeComment(comment.reply);">Submit</button>
            </div>
            <hr ng-if="!$last">
          </div>
        </div>
    </div>
</div>
<hr>
